Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
lst = [1,2,3,4,5]

In [5]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [6]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [9]:
df = pd.DataFrame([lst,lst,lst,lst,lst,lst,lst], columns=['A','B','C','D','E'])

In [10]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
del df

In [14]:
df #will not execute